
.rest-of-word {
  color: rgb(51, 124, 153);
  font-family:fantasy; 
  font-size: 35px;
}

.navbar-brand {
  color: rgb(45, 45, 151) !important; 
  text-shadow: 5px 5px 4px rgb(31, 56, 71);
  font-family: 'Lobster', cursive;
  font-size: 45px;
}

.navbar-brand {
  width: 10%;
  height: 30%;
  border-style: outset ;
  background-color: rgba(177, 176, 230, 0.5);
}
