:any-link {
  color: #337c99!important;
}

@font-face {
  font-family: "Triforce";
  src: url("/Assets/fonts/TriSymbol.ttf") format("ttf"); 
}


.rest-of-word {
  color: rgb(51, 124, 153);
  font-family: fantasy; 
  font-size: 35px;
}

.navbar-brand {
  color: rgb(45, 45, 151) !important; 
  text-shadow: 5px 5px 4px rgb(31, 56, 71);
  font-family: 'Lobster', cursive;
  font-size: 45px;
}

.navbar-brand {
  width: 10%;
  height: 30%;
  border-style: outset ;
  background-color: rgba(177, 176, 230, 0.5);
}

.nav-link {
  color:  rgb(51, 124, 153)!important;
  font-family: fantasy; 
  font-size: 38px; 
  text-shadow: -2px 4px 4px rgb(0, 0, 0); 
  text-decoration: none;
}

.dropdown-menu {
  background-color: rgba(177, 176, 230, 0.5);
}
.hero-image {
  background: url("./images/AMV.svg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  animation: reveal 5s  ease-in-out 3s alternate infinite;
  /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./images/AMV.svg"); */
}

@keyframes reveal {
  from {background-color: black;}
  to {background-image: linear-gradient(rgba(0,0,0,0.5), url("./images/AMV.svg"));}
}


.heroic {
  text-align:end;
  color:floralwhite;
  text-shadow: 5px 5px 4px rgb(118, 150, 163);
  font-family: "fantasy";
  font-style: italic;
  font-size: xx-large;
  padding-right: 25px;
  padding-top: 25%;
  margin:0 ;
}

.main {
  display: flex;
}

#about-me {
}

#biopic { 
  position:relative!important;
  height:281px!important;
  width:450px!important;
  margin:0 auto!important;
}

#biopic img {
  position:absolute!important;
  left:0!important;
  -webkit-transition: opacity 2s ease-in-out!important;
  -moz-transition: opacity 2s ease-in-out!important;
  -o-transition: opacity 2s ease-in-out!important;
  transition: opacity 2s ease-in-out!important;
}

#biopic img.top:hover {
  opacity:0!important;
}

.caption {
  font-size:x-large!important;
  font-weight:normal!important;
}
.body-box p {
  color: var(--shadow-border-color);
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  text-align:justify;
}

.body-box p img {
  float:left;
  margin: 10px;
}

/* Work */
#work {
}
.work-wrapper {
  display: grid;
  margin: 10px 10px 10px 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 20px;
}

.work-grid {
  border: 3px solid var(--shadow-border-color);
  display: flex;
  align-items: flex-end;

}

.work-grid a {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: var(--primary-font-color);
  text-shadow: -1px 0px 3px var(--shadow-border-color),
    -1px 0px 3px var(--shadow-border-color);
}

.title-link {
  flex: wrap;
  justify-content: flex-end;
  margin: 0 0 10px 0;
  padding: 10px;
  background-color: var(--button-hover);
  opacity: 80%;
}

.run-buddy {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background: cover;
}

.horiseon {
  background-size: cover;
  text-align: bottom;
}

.proj3 {
  background-size: cover;
}

.proj4 {
  background-size: cover;
}

.proj5 {
  background-size: cover;
}

/* Contact Me*/
#contact-me {
}
.contact-wrapper {
  display: grid;
  margin: 10px 10px 10px 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-auto-flow: dense;
  grid-gap: 30px;
}

.contact-grid a {
  text-decoration: none;
  color: var(--primary-font-color);
  text-shadow: -1px 0px 3px var(--shadow-border-color),
    -1px 0px 3px var(--shadow-border-color);
  border-bottom: 3px solid var(--shadow-border-color);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-around;
}