.header {
    flex-direction: row;
}


  /*-- hero -- */

  .hero-image {
    background: url("./images/AMV.svg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./images/AMV.svg");
}

.hero-image {
    height: 600px;
}

.hero-text h2 {
    text-align:end;
    color:floralwhite;
    text-shadow: 5px 5px 4px rgb(118, 150, 163);
    font-family: "fantasy", papyrus;
    font-style: italic;
    font-size: xx-large;
    padding-right: 25px;
    padding-top: 25%;
}

.flex-container {
    background-color: steelblue;
    font-weight: bold;
    width: 1000px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: flex-end;
    margin: 0 0 0 0;
}


.aside-1 {
    font-size: 35px;
    color:black;
    font-family: 'Assistant', sans-serif;
}



/* --- Grid -- */

.wrapper-2 {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 20px repeat(5, 1fr);
}
